@import "head";
main{
	width: 990px;
	margin: 0 auto;
	.main_left{
		width: 190px;
		height: 683px;
		margin-top: 10px;
		float: left;
		border-bottom: 1px solid #e5e5e5;
		border-right: 1px solid #e5e5e5;
		border-left: 1px solid #e5e5e5;
		box-sizing: border-box;
		line-height: 26px;
		font-size: 14px;
		div{
			border-top: 1px solid #e5e5e5;
		padding-left: 15px;
		}
		ul{
			border-top: 1px solid #e5e5e5;
		padding-left: 15px;
		}
		.title1{
			color: #333;
			font-weight: bold;
			font-size: 14px;
		}
		.ul1{
			width: 120px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			li{
				font-size: 12px;
			}
		}
		a{
			color: #777;
			&:hover{
				color: #c00;
			}
		}
		.ul22,.ul3{
			li{
				padding-left: 5px;
				position: relative;
				&::before{
					content: '';
					position: absolute;
					width: 3px;
					height: 3px;
					background: #666;
					left: -3px;
					top: 12px;
				}
			}
		}
		.list_title{
			.jian{
				display: inline-block;
				cursor: pointer;
				width: 11px;
				height: 11px;
				background: url(../img/btn-ico.png);
				background-position: -15px 228px;
			}
			.jia{
				display: inline-block;
				cursor: pointer;
				width: 11px;
				height: 11px;
				background: url(../img/btn-ico.png);
				background-position: -30px 228px;
			}
		}
	}
	.main_right{
		width: 790px;
		float: right;
		font-size: 14px;
		.top{
			display: flex;
			justify-content: space-between;
			margin-top: 30px;
			.paixu{
				span{
					border: 1px solid #ccc;
					padding: 0 15px 0 5px;
					color: #727272;
					background: #F1EDEC;
					cursor: pointer;
					line-height: 22px;
					float: left;
					position: relative;
					&::after{
						content: '';
						position: absolute;
						width: 7px;
						height: 10px;
						top: 6px;
						right: 5px;
						background: url(../img/sprite.png);
						background-position: -22px -23px;
					}
				}
				span:nth-child(1){
					border-right: 0;
				}
			}
			.pages{
				font-family: \5B8B\4F53,Helvetica,sans-serif;
				color: #727272;
				.next{
					font-weight: 700;
					width: 30px;
					height: 22px;
					border: 1px solid #ccc;
					display: inline-block;
					text-align: center;
					line-height: 22px;
					background: #F1EDEC;
					cursor: pointer;
				}
				.prev{
					font-weight: 700;
					width: 30px;
					height: 22px;
					border: 1px solid #ccc;
					display: inline-block;
					text-align: center;
					line-height: 22px;
					background: #F1EDEC;
					cursor: pointer;
				}
			}
		}
		.shoplist{
			width: 790px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-top: 10px;
			li{
				width: 180px;
				height: 350px;
				.showimg{
					margin-bottom: 5px;
				}
				.choose{
					img{
						margin-right: 5px;
						margin-bottom: 5px;
						cursor: pointer;
						box-sizing: border-box;
					}
					.select{
						border: 1px solid #c00;
					}
				}
				.price{
					color: #c00;
					font-weight: bold;
					margin-bottom: 10px;
				}
				p{
					color: #666;
					font-size: 12px;
				}
				.xiaoliang{
					color: #999;
					font-size: 14px;
					span{
						color: #c49173;
						font-weight: bold;
					}
				}
			}
		}
	}
}