main{
	width: 1200px;
	margin: 25px auto;
	.title{
		margin-left: 55px;
		margin-bottom: 10px;
		font-size: 20px;
		padding-bottom: 25px;
		box-sizing: border-box;
		border-bottom: 2px solid #e6e6e6;
	}
	.login_box{
		width: 980px;
		height: 490px;
		margin: 80px auto;
		border: 1px solid #e6e6e6;
		box-sizing: border-box;
		padding: 37px 0 0 92px;
		display: flex;
		.left{
			h2{
				font-size: 18px;
			}
			form{
				p{
					margin-top: 25px;
					span{
						font-size: 14px;
						width: 60px;
						line-height: 21px;
					}
					input{
						width: 280px;
						height: 25px;
						border: 1px solid #d5d5d5;
						outline: 0;
					}
					.yanzheng{
						width: 90px;
					}
					.submits{
						background: #dc2829;
						color: #fff;
						border-width: 0px;
						width: 84px;
						height: 35px;
						border-radius: 4px;
						vertical-align: top;
						margin-left: 122px;
						cursor: pointer;
					}
				}
			}
			p{
				font-size: 14px;
				line-height: 21px;
			}
			ul{
				width: 350px;
				display: flex;
				justify-content: space-around;
				margin-top: 35px;
				li{
					a{
						color: #000;
					}
				}
			}
		}
		.right{
			margin-left: 50px;
			h2{
				margin-bottom: 24px;
			}
			p{
				font-size: 14px;
				margin-left: 24px;
				margin-bottom: 25px;
			}
			ul{
				margin-left: 48px;
				color: #a6a6a6;
				font-size: 14px;
			}
			button{
				width: 107px;
				height: 30px;
				margin: 80px auto;
				display: block;
				background: #000;
				border-radius: 4px;
				color: #fff;
				border: 0;
				outline: 0;
				cursor: pointer;
			}
		}
	}
}