*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	vertical-align: middle;
}

// header
header{
	width: 100%;
	font-size: 12px;
	box-sizing: border-box;
	.header_top{
		height: 31px;
		margin: 0 auto;
		padding: 0 63px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #eee;
		border-bottom: 1px solid #ccc;
		ul{
			display: flex;
			align-items: center;
			font-weight: bold;
			li{
				margin-right: 8px;
				position: relative;
				&:first-child{
					color: #666;
					font-weight: normal;
				}
				&::after{
					content: "";
					position: absolute;
					top: 3px;
					right: -5px;
					width: 2px;
					height: 12px;
					background: #999;
				}
				&:last-child::after,&:nth-child(3)::after{
					display: none;
				}
				a{
					color: #333;
				}
				a:hover{
					color: #c00;
					text-decoration: underline;
				}
// 				display: flex;
// 				align-items: center;

			}
		}
		.ul2{
			font-weight: normal;
		}
	}
	.head_center{
		padding: 0 63px;
		margin: 0 auto;
		height: 115px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.left{
			a{
				color: #747474;
			}
		}
		.right{
			height: 20px;
			overflow: hidden;
			display: flex;
			align-items: center;
			input{
				width: 101px;
				border: 1px solid;
				border-radius: 15px;
			}
			span{
				width: 36px;
				height: 20px;
				display: inline-block;
				background: url(/img/head_search.jpg)no-repeat center;
			}
		}
	}
	.head_bottom{
		padding: 0 63px;
		height: 30px;
		.head_bottom_ul{
			display: flex;
			justify-content: space-around;
			align-items: center;
			line-height: 30px;
			font-weight: bold;
			font-size: 14px;
			.head_bottom_li{
				a{	
					color: #000;
				}
			}
			.head_bottom_li:hover .head_show{
				display: flex;
			}
		}
	}
	.head_show{
		display: flex;
		display: none;
		justify-content: center;
		width: 100%;
		background: #fff;
		position: absolute;
		left: 0;
		z-index: 2;
		.left{
			width: 140px;
			li{
				height: 30px;
				a{
					color: #000;
					height: 75px;
					border-bottom: 1px solid;
				}
			}
		}
	}
}