@import "head";
@import "foot";

.main_trade2{
	margin-top: 150px;
}
.main_trade3{
	margin-top: 150px;
}
.main_trade4{
	margin-top: 18px;
	display: flex;
	justify-content: space-between;
	ul{
		width: 738px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 50px;
		li{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 146px;
			height: 80px;
			text-align: center;
			border-right: 2px solid #000;
			a{
				color: black;
			}
			span{
				border-bottom: 2px solid #000;
			}
		}
	}
}
.main_trade5{
	width: 100%;
	background: url(../img/main_trade5.jpg)no-repeat center fixed;
	box-sizing: border-box;
	height: 982px;
	padding: 388px 0 0;
}
.main_trade6{
	text-align: center;
	img{
		position: relative;
		top: -120px;
	}
}