@import "head";

main{
	width: 1000px;
	margin-left: 80px;
	margin-top: 20px;
	.section1{
		display: flex;
	}
	.left{
		width: 460px;
		position: relative;
		.bigimg_box{
			position: absolute;
			top: 0;
			left: 430px;
			width: 517px;
			height: 517px;
			overflow: hidden;
			display: none;
			.bigimg{
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.choose{
			margin: 10px 10px;
			img{
				margin-right: 12px;
			}
		}
	}
	.right{
		width: 520px;
		margin-left: 20px;
		h2{
			color: #000;
			font-size: 16px;
			line-height: 24px;
		}
		p{
			font-size: 14px;
			color: #666;
			line-height: 21px;
		}
		.good_price{
			background: url(../img/price_bg.png);
			margin: 15px auto 8px auto;
			width: 485px;
			padding: 20px;
			box-sizing: border-box;
			span:nth-child(1){
				font-size: 12px;
				color: #999;
				width: 70px;
				line-height: 25px;
				display: inline-block;
			}
			span:nth-child(2){
				font-size: 18px;
				color: #c00;
				line-height: 25px;
				font-weight: bold;
			}
		}
		.size{
			margin-top: 15px;
			.size_h{
				font-size: 12px;
				color: #999;
				margin: 0 60px 0 30px;
			}
			.size_choose{
				display: inline-block;
				span{
					display: inline-block;
					width: auto;
					padding: 0 5px;
					margin: 3px 2px;
					height: 25px;
					font-size: 12px;
					color: #000;
					line-height: 25px;
					border: 1px solid #b8b7bd;
					cursor: pointer;
				}
			}
		}
		.colors{
			margin-top: 15px;
			.colors_h{
				font-size: 12px;
				color: #999;
				margin: 0 60px 0 30px;
			}
			.colors_choose{
				display: inline-block;
				span{
					display: inline-block;
					width: auto;
					padding: 0 5px;
					margin: 3px 2px;
					height: 25px;
					font-size: 12px;
					color: #000;
					line-height: 25px;
					border: 1px solid #b8b7bd;
					cursor: pointer;
				}
			}
		}
		.nums{
			margin-top: 15px;
			.nums_h{
				font-size: 12px;
				color: #999;
				margin: 0 60px 0 30px;
			}
			#nums_input{
				width: 60px;
				height: 30px;
				outline: 0;
			}
			.star{
				background-position: 0 0;
				background: url(../img/star.png) no-repeat -13px 0;
				padding-left: 22px;
			}
		}
		.buy{
			margin-left: 100px;
			margin-top:35px;
			span{
				display: inline-block;
				width: 178px;
				height: 38px;
				line-height: 38px;
				color: #FF0036;
				background: #ffeded;
				border: 1px solid #FF0036;
				margin-right: 10px;
				text-align: center;
			}
			span:nth-child(2){
				color: white;
				background:#FF0036 url(../img/buy.png) 30px no-repeat;
			}
		}
		.promise{
			margin-top: 20px;
			display: flex;
			li{
				margin-right: 44px;
			}
		}
	}
	.cart{
		position: fixed;
		right: 0;
		top: 0;
		width: 35px;
		height: 100%;
		padding: 200px 0 0;
		text-align: center;
		color: #fff;
		box-sizing: border-box;
		background: #000;
		z-index: 2;
		i{
			background: url(/img/buy.png)no-repeat;
			width: 16px;
			height: 16px;
			display: block;
			margin: 0 auto;
			cursor: pointer;
		}
		p{
			width: 20px;
			margin: 0 auto;
			cursor: pointer;	
		}
	}
}
.select{
	border: 1px solid #c00 !important;
}